<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="DEBUG" />
    <logger name="akka" level="INFO" />
    <logger name="akka.persistence" level="DEBUG" />
    <logger name="akka.persistence.cassandra.query" level="INFO" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
